/* Payment Page Styles */
.payment-container {
  background-color: #f8f9fa;
  padding: 20px;
}

.payment-card {
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.buy-button {
  background-color: #28a745;
  border: none;
  font-weight: bold;
  width: 5rem;
}


.total-alert {
  font-size: 1.2rem;
  font-weight: bold;
}

.step-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 10px;
}


.step1-div{
    border-bottom: 1px solid rgb(188, 188, 188);
    padding: 0.5rem;
}


.upi-img{
  height: 30px;
  width: 60px;
  border-radius: 0.5rem;
  background-color: rgb(207, 207, 207);
}

.upi-img img{  
  height: 30px;
  width: 60px;
}


.tag{
  font-size: 0.7rm;
}

.upi-address {
  font-size: 0.8rem;
  font-weight: bold;
  /* padding: 10px; */
  /* border-radius: 5px; */
}

.qr-code {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

.file-input {
  border: 1px solid #ced4da;
  padding: 5px;
  border-radius: 5px;
}

.paid-checkbox {
  font-size: 1rem;
  font-weight: bold;
}

.confirm-button {
  background-color: #ff9800;
  border: none;
  font-weight: bold;
}


/* flie upload /////////////////////*/
.upload-container {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 2px dashed #d6d6d6;
  background-color: #f9fafb;
  border-radius: 8px;
  cursor: pointer;
}

.upload-icon {
  font-size: 20px;
  color: #7a7a7a;
  margin-right: 10px;
}

.upload-text {
  font-size: 14px;
  color: #6c757d;
}

.file-input {
  display: none;
}


/* imp notes ****************************/
.additional-info {
  background-color: #f8f9fa; /* Light gray background */
  padding: 15px;
  border-radius: 8px;
}

.info-heading {
  color: #333;
  font-weight: bold;
}

.info-list {
  padding-left: 20px;
}

.info-list li {
  margin-bottom: 5px;
  color: #555;
}
