.transaction-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }

  .transaction-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
  }

  .side-border{
    border-right: 1px solid gray;
  }

  

.row-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.row-item:last-child {
  border-bottom: none;
}

.section {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.no-Border{
  border: none;
}

.section-title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}


.ref-num-div {
  font-size: 16px;
  font-weight: bold;
}

.ref-number {
  color: #333;
}



.status-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  /* padding: 5px; */
  height: 25px;
  width: 180px;
  font-size: 0.6rem;
}



.buy-label {
  color: green;
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
}



.status-done {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 20px;
  width: 90px;
  font-size: 0.7rem;
  font-weight: 500;
  color: blue;
  border: 0.5px solid blue;
}



.payment-icon {
  width: 30px;
  vertical-align: middle;
}


/* ******************************* */
  .transaction-section {
    margin-top: 20px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .transaction-section:last-child {
    border-bottom: none;
  }
  
  .transaction-label {
    font-weight: bold;
    color: #333;
  }
  
  .transaction-value {
    font-size: 16px;
    color: #555;
  }
  
  .transaction-status {
    background: #e6e6ff;
    color: #333;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    display: inline-block;
  }
/*   
  .transaction-button {
    background: transparent;
    border: 1px solid #aaa;
    color: #555;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    float: right;
    cursor: pointer;
  } */
  
  .payment-method img {
    height: 30px;
  }
  
  @media (max-width: 768px) {
    .transaction-container {
      padding: 15px;
    }
/*   
    .transaction-header {
      font-size: 18px;
      padding: 12px;
    }
   */
    .transaction-value {
      font-size: 14px;
    }
  }
  